@import "./variables.less";
@import "./mixins.less";
html,
body,
* {
	font-family: 'Ubuntu', sans-serif;
}

// Default styles
html,
body,
.full-height {
	height: 100%;
}

.full-height {
	@media @md {
		height: auto;
	}
}

body {
	background-color: @body-bg;
}

.main-container {
	max-width: 1100px;
	margin: auto;
}

// JW Card
// TODO : Move this to a separate less file (along with all its variables)
.jw-card {
	position: relative;
	margin: auto;
	width: 100%;
	background-color: white;
	border: 1px solid;
	border-color: @card-border-color;
	border-radius: @card-header-border-radius;
	min-height: 150px; // TODO : remove later
	.jw-header {
		position: relative;
		width: 100%;
		height: @card-header-height;
		line-height: @card-header-height;
		vertical-align: middle;
		text-align: left;
		font-size: 18px;
		font-weight: 500;
		color: @card-header-title-color;
		padding: 0 20px;
		border-bottom: 1px solid;
		border-color: @jw-gray-1;
		background-color: @card-header-background-color;
		.noselect();
		.jw-header-icon {
			float: right;
			margin-left: 10px;
			height: @card-header-height;
			line-height: @card-header-height;
		}
		.jw-toggle {
			font-size: 20px;
			color: @card-header-caret-color;
		}
		.jw-toggle:hover {
			cursor: pointer;
		}
		.jw-expand {
			font-size: 15px;
			color: @card-header-caret-color;
		}
		.jw-title:hover {
			cursor: move;
		}
	}
	.jw-header:hover {
		cursor: pointer;
	}
}

.jw-fs {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
