// Mixins & Vars
@import "./variables.less";
@import "./mixins.less";

// Import component styles
@import "{}/imports/components/gameScreen/gameScreen.less";

// Default styles
html, body, .full-height { height: 100%; }
body { background-color: @body-bg; }
.main-container {
	max-width: 770px;
	margin: auto;
}