@import "./variables.less";

.noselect() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

.animate(@vars) {
	-webkit-transition: @vars;  
	-moz-transition: @vars;  
	-o-transition: @vars;  
	-ms-transition: @vars;  
	transition: @vars;
}

@xs: ~"only screen and (max-width:767px)";
@sm: ~"only screen and (max-width:@{screen-sm-min})";
@md: ~"only screen and (max-width:@{screen-md-min})";
@lg: ~"only screen and (max-width:@{screen-lg-min})";