// General
@body-bg: rgb(241, 242, 246);
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@jw-gray-1: #e5e6e9;
@jw-gray-2: #dfe0e4;
@jw-gray-3: #d0d1d5;
@jw-gray-4: #989aa2;

@card-header-height: 40px;
@card-header-border-radius: 8px;
@card-header-background-color: #e6e9ed;
@card-header-title-color: @jw-gray-4;
@card-header-caret-color: @jw-gray-3;
@card-border-color: @jw-gray-1 @jw-gray-2 @jw-gray-3;


// Game Screen
@cell-natural-bg: #f4f6f7;
@cell-hover-bg: #f4f6f7;
@cell-active-bg: #c1c4c9;
@cell-active-border-color: rgba(153, 153, 153, 0.25);
@cell-border-color: #e5e6e9 #dfe0e4 #d0d1d5;
@cell-animate: all .5s cubic-bezier(0.25,.8,.25,1);
