@import "{}/imports/components/gameScreen/gameArea/gameArea.less";

.gs-game-area {
	height: 80%;
}
.gs-status-area {
	height: 20%;
}
.gs-history-area {
	height: 50%;
}
.gs-chat-area {
	height: 50%;
}