@import "{}/imports/components/gameScreen/gameMap/gameMap.less";
@import "{}/imports/components/gameScreen/infoArea/infoArea.less";
@import "{}/imports/components/gameScreen/historyArea/historyArea.less";
@import "{}/imports/components/gameScreen/playerArea/playerArea.less";
@import "{}/imports/components/gameScreen/chatArea/chatArea.less";
@import "{}/imports/components/gameScreen/controlArea/controlArea.less";

.gs-container {
	padding-top: 20px;
	@media @xs { padding-top: 8px; }
	.gs-area {
		height: auto;
		min-height: 150px;
		margin: 10px -10px;
		@media @xs { margin: 10px 0; }
	}	
}
