<div class="container">
	<div class="row logo-container">
		<div class="col-xs-12 animated fadeInUp">
			<div class="logo">Jackal Wars</div>
			<div class="tagline">Human-driven strategy game</div>
		</div>		
	</div>
	<div class="row actions-container">
		<div class="col-xs-12">
			<div><a href="/lobby" class="action-button"> Join the war <i class="fa fa-angle-right"></i></a></div>
			<div><a href="https://github.com/oguzgelal/jackalwars" target="_new" class="action-button"> Source code <i class="fa fa-angle-right"></i></a></div>
		</div>
	</div>

</div>


<!--
<div>
	<span>Welcome{{ $ctrl.user ? ', '+$ctrl.user.profile.name : ' to JackalWars !' }}</span>
	<a ng-if="$ctrl.user" href="#" ng-click="$ctrl.logout()"> (logout)</a>
</div>
<div>
	<a ng-if="!$ctrl.user" href="/login">Login</a><br>
	<a ng-if="$ctrl.user" href="/lobby">Lobby</a><br>
</div>
-->